@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 #f7f7f7;
  }
  
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
    border: 2px solid #f7f7f7;

  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    
  }
  